/* Grid style column align. */

.views-view-responsive-grid .views-col {
  float: left;
}

@media screen and (max-width: 480px) {
  .views-view-responsive-grid .views-col {
    width: 100% !important;
    margin-bottom: 2em;
  }
  .views-view-responsive-grid .views-col.clearfix {
    margin-bottom: 0;
  }
  .views-view-responsive-grid .views-col.clearfix .views-row {
    margin-bottom: 2em;
  }
}

.views-view-responsive-grid .views-row {
  clear: both;
  float: left;
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .views-view-responsive-grid .views-col {
    margin-bottom: 2em;
  }
  .views-view-responsive-grid .views-col.clearfix {
    margin-bottom: 0;
  }
  .views-view-responsive-grid .views-col.clearfix .views-row {
    margin-bottom: 2em;
  }
}