/*
 * SEARCH AUTOCOMPLETE
 * Basic blue theme.
 */

/**
 * THEME BASIC BLUE
 */

/* Input box */

.js input.form-autocomplete {
  border: 1px solid #eee;
}

/* Suggestion menu style */

ul[data-sa-theme="basic-blue"] {
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 15px;
  background: transparent;
  border-bottom: 1px solid #bfbfbf;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  min-width: 200px;
  z-index: 9999;
}

/* Suggestion menu elements */

ul[data-sa-theme="basic-blue"]>*, ul[data-sa-theme="basic-blue"]>.ui-state-focus, ul[data-sa-theme="basic-blue"]> :hover {
  border-color: transparent;
  border-width: 0;
  border-style: solid;
  margin: 0px;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  border: 0px;
}

/* Suggestion group header */

ul[data-sa-theme="basic-blue"]>div.ui-autocomplete-field-group {
  opacity: 1;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-color: #1A082C;
  padding: 1px 5px;
  margin: 0px;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(237,237,237,0.5);
}

/* Suggestion menu items */

ul[data-sa-theme="basic-blue"]>li.ui-menu-item {
  background: #ffffff;
}

.ui-widget-content {
  border: 1px solid rgba(237, 237, 237, 0.6);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.95) !important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ui-widget-content li {
  font-family: 'Montserrat', sans-serif; !important;
  background: transparent;
  color: #1A082C;
  font-weight: normal;
  padding-left: 20px;
  line-height: 0.9em;
}

.ui-widget-content a {
  color: #1A082C;
  background: transparent !important;
  border: 0 !important;
  font-size: 0.875rem !important;
}

/* Suggestion menu items hovering */

ul[data-sa-theme="basic-blue"]>li.ui-menu-item.ui-state-focus, ul[data-sa-theme="basic-blue"]>li.ui-menu-item:hover, ul[data-sa-theme="basic-blue"]>li.ui-menu-item:hover a {
  background: #ffffff;
  border: 0;
}

.ui-widget-content a:hover {
  color: #1A082C;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  color: #1A082C !important;
}

/* Searched term whithin a suggestion item */

ul[data-sa-theme="basic-blue"] .ui-autocomplete-field-term {
  font-weight: normal;
  border-bottom: 1px dotted;
}

/* Suggestion item fields */

ul[data-sa-theme="basic-blue"] .ui-autocomplete-fields>*:first-child {
  font-weight: normal;
  color: #1A082C;
}

ul[data-sa-theme="basic-blue"] .ui-autocomplete-fields>* {
  font-size: 0.875em;
  line-height: 0.5em;
  padding: 0;
}

/* Suggestion focused fields */

ul[data-sa-theme="basic-blue"]>li.ui-menu-item.ui-state-focus .ui-autocomplete-fields>*, ul[data-sa-theme="basic-blue"]>li.ui-menu-item:hover .ui-autocomplete-fields>* {
  /* color: white; */
}

/* Suggestion "no result" and "more resul" customizations */

ul[data-sa-theme="basic-blue"]>div.ui-autocomplete-field-group.no_results+li.ui-menu-item, ul[data-sa-theme="basic-blue"]>div.ui-autocomplete-field-group.more_results+li.ui-menu-item {
  padding: 0px;
}

ul[data-sa-theme="basic-blue"]>div.ui-autocomplete-field-group.no_results+li.ui-menu-item .ui-autocomplete-fields>*:first-child, ul[data-sa-theme="basic-blue"]>div.ui-autocomplete-field-group.more_results+li.ui-menu-item .ui-autocomplete-fields>*:first-child {
  font-weight: normal;
  text-align: center;
  font-style: italic;
}
